<header class="header-index header-container">
  <nav class="nav">
    <a class="logo" href="/src/index.html">
      <svg width="24" height="24">
        <use href="./images/icons.svg#film"></use>
      </svg>
    </a>
    <p class="film">Filmoteka</p>
    <ul class="ulnavigation">
      <li><a class="links down-bar-index" href="./index.html">HOME</a></li>
      <li><a class="links" href="./mylibrary.html">MY LIBRARY</a></li>
    </ul>
  </nav>

  <form class="search-form" id="search-form">
    <div class="inputcontainer">
      <input
        class="input"
        type="text"
        name="searchQuery"
        autocomplete="off"
        placeholder=""
      />
      <button type="submit" class="btn">
        <svg width="12" height="12">
          <use href="./images/icons.svg#search"></use>
        </svg>
      </button>
    </div>
    <!-- <input class="input" type="text" name="searchQuery" autocomplete="off" placeholder="" />
        <button type="submit" class="btn">
            <svg width="12" height="12">
                <use href="./images/icons.svg#search"></use>
            </svg>
        </button> -->
  </form>
</header>
