
<div class="backdrop is-hidden" data-modal>
    <div class="modal container-box">
        <div class="box-modal">
                <div class="self-pos">
                    <svg class="svg-cierre" width="30" height="30" data-modal-close>
                        <use href="./images/icons.svg#closeX"></use>
                    </svg>
                </div>
            
                <ul class="specific-container">
                    <li><img class="img-modal" src="./images/Wonka-113186318-large.jpg" alt="wonka"></li>
                    <li><h3 class="modal-title">NOMBRE DE LA PELICULA</h3>

                         <div class="modal-text">
                                <ul class="specifications">
                                    <li>Vote / Votes</li>
                                    <li>Popularity</li>
                                    <li>Original Title</li>
                                    <li>Genre</li>
                                </ul>

                                <ul class="results">
                                    <!-- Aca se introducen los resultados -->
                                </ul>
                        </div>
                    
                    <div class="pabout">
                        <p class="about">About</p>
                        <p class="abouttext">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor laboriosam
                            doloremque tempore deleniti illum eaque unde sequi iste ratione eveniet? Deserunt delectus saepe
                            voluptate dolor corrupti, officiis dicta nam nulla.</p>
                    </div>
                    
                    
                    <ul class="modaldivbutton">
                        <li><button class="watch" type="submit">ADD TO WATCHED</button></li>
                        <li><button class="queue" type="submit">ADD TO QUEUE</button></li>
                    </ul></li>
                </ul>
            </div>
        
    </div>
</div>