body {
  font-family: "Roboto";
  margin: 0;
  padding: 0;
}

.header-container {
  margin-left: 0;
  margin-right: 0;
  width: 320px;
  height: 230px;
}
@media screen and (min-width: 768px) {
  .header-container {
    width: 768px;
  }
}
@media screen and (min-width: 1024px) {
  .header-container {
    width: 1024px;
  }
}

.film {
  display: none;
  color: white;
  font-size: 30px;
  font-weight: 500;
  line-height: 35px;
  letter-spacing: 0em;
}
@media screen and (min-width: 768px) {
  .film {
    position: absolute;
    display: inline;
    top: 12px;
    left: 112px;
  }
}

.header-index {
  background-color: #2F303A;
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.7)), url("../images/Rectangle_mobile.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media screen and (min-width: 768px) {
  .header-index {
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.7)), url("../images/Rectangle_tablet.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
@media screen and (min-width: 1024px) {
  .header-index {
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.7)), url("../images/Rectangle_desktop.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

.header-library {
  background-color: #2F303A;
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.7)), url("../images/library-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media screen and (min-width: 768px) {
  .header-library {
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.7)), url("../images/library-tablet.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
@media screen and (min-width: 1024px) {
  .header-library {
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.7)), url("../images/library-desktop.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.links {
  color: white;
  text-decoration: none;
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: center;
}

.down-bar-library::after {
  content: "";
  width: 73px;
  height: 3px;
  background-color: rgb(255, 107, 8);
  display: block;
  position: absolute;
  top: 76px;
  border-radius: 2px;
}

.down-bar-index::after {
  content: "";
  width: 36px;
  height: 3px;
  background-color: rgb(255, 107, 8);
  display: block;
  position: absolute;
  top: 76px;
  border-radius: 2px;
}

.ulnavigation {
  display: flex;
  gap: 39px;
  padding-top: 12px;
}
@media screen and (min-width: 768px) {
  .ulnavigation {
    padding-left: 370px;
  }
}
@media screen and (min-width: 1024px) {
  .ulnavigation {
    padding-left: 600px;
  }
}

.nav {
  display: flex;
  padding-top: 46px;
}

.logo {
  padding-left: 21px;
  padding-right: 100px;
}
@media screen and (min-width: 768px) {
  .logo {
    padding-left: 71;
  }
}

.input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid white;
  width: 280px;
  height: 20px;
  color: white;
  margin-top: 41px;
}
@media screen and (min-width: 768px) {
  .input {
    width: 336px;
  }
}

.search-form {
  padding-left: 20px;
}
@media screen and (min-width: 768px) {
  .search-form {
    padding-left: 216px;
  }
}
@media screen and (min-width: 1024px) {
  .search-form {
    padding-left: 344px;
  }
}

.btn {
  background-color: transparent;
  border: none;
  position: absolute;
  top: 122px;
  left: 287px;
}
@media screen and (min-width: 768px) {
  .btn {
    left: 537px;
  }
}
@media screen and (min-width: 1024px) {
  .btn {
    left: 667px;
  }
}

.btn-watched, .btn-queue {
  width: 129.53px;
  height: 44px;
  border-radius: 5px;
  color: white;
  background-color: transparent;
  border: 1px solid white;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: center;
}

.btn-watched:hover,
.btn-queue:hover {
  cursor: pointer;
}

.btn-watched {
  background-color: rgb(255, 107, 8);
}

.btn-container {
  display: flex;
  padding-top: 49px;
  gap: 19.94px;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .btn-container {
    gap: 15px;
  }
}/*# sourceMappingURL=header-styles.css.map */