.backdrop.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 1;
    visibility: visible;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin: 0;
    display: flex;
    justify-content: center;

}

.container-box {
    margin-top: 35px;
}

.box-modal {
    width: 528px;
    height: 581px;
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    flex-direction: column;
}

.svg-cierre {
    margin-top: 5px;
    margin-right: 5px;
    position: relative;
    left: 50%;
    top: -30px;
    @media screen and (min-width:768px) {
            left: 110%;
            top: -30px;
        }
    
        @media screen and (min-width:1024px) {
            left: 160%;
            top: -30px;
        }


}

.svg-cierre:hover {
    cursor: pointer;

}

.specific-container{
    width:280px ;
    height:958px ;
    display: flex;
    flex-direction: column;
    gap: 30px;

    @media screen and (min-width:768px) {
        flex-direction: row;
        width: 618px;
        height: 562px;
    }

        @media screen and (min-width:1024px) {
            flex-direction: row;
            width: 882px;
            height: 568px;
        }

}

//------------------------//


.modal {
    width: 280px;
    height: 958px;
    background-color: #ffffff;
    margin: auto;
    padding: 50px 30px;
    position: relative;
   @media screen and (min-width:768px) {
    width: 618px;
    height: 562px;
   }

   @media screen and (min-width:1024px) {
        width: 882px;
        height: 568px;
   }

}

.modalbtnclose {
    position: absolute;
    display: flex;
    margin-top: -45px;
    border-radius: 50px;
    margin-left: 815px;
    border: 1px solid rgba(0, 0, 0, 0.10);
    background: #ffffff;
    cursor: pointer;
}

.watch {
    width: 136px;
    height: 44px;
    border-radius: 5px;
    background: #FF6B01;
    color: #FFF;
    font-size: 12px;
    font-weight: 500;
    border: none;
}

.queue {
    width: 136px;
    height: 44px;
    border-radius: 5px;
    border: 1px solid #000;
    color: #000;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    text-transform: uppercase;
}

.queue:hover {
    border: 1px solid #FF6B01; 
}

.watch:hover{
    border: 1px #000 ; 
}

.modalsvgclose{
    position: absolute;
    width: 25px;
    height: 25px;
    top: -1.5px;
    left: -1.5px;
}


.abouttext{

    color: #000;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; 
    padding-bottom: 21px;
}

.span {
    width: 46px;
    height: 16px;
    border: 1px solid #FF6B01;
    border-radius: 3px;
    background: #FF6B01;
    color: #FFF;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-left: 10px;
    padding-right: 10px;
}

.modal-title{
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: left;
    margin: 0;
    padding-bottom: 20px;
    @media screen and (min-width:768px) {
            font-size: 30px;
        }
}

.modal-text{
    display: flex;
    gap: 60px;
    @media screen and (min-width:768px) {
            gap: 80px;
        }
}

.specifications{
    font-family: Roboto;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(140, 140, 140, 1);
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.results{
    font-family: Roboto;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    color: black;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.pabout{
    padding-bottom: 10px;
    padding-top: 10px;
}

.modaldivbutton{
    display: flex;
    gap: 25px;
    justify-content: center;
}


.img-modal{

    width:240px;
    height:356.57px;

    @media screen and (min-width:768px) {
            width: 264px;
            height: 373.55px;
        }
    
        @media screen and (min-width:1024px) {
            width: 396px;
            height: 477.8px;
        }
}